<!-- 
    In a new react project-npx create-react-app expense-app
    src/ExpenseApp.js
    src/components
    /components/Expenses
    /components/NewExpense
    /UI
    /components/Expenses/ExpenseDate.css
    /components/Expenses/ExpenseDate.js
    /components/Expenses/Expenses.js or ExpenseList.js
    /components/Expenses/Expenses.css or ExpenseList.css
    /components/Expenses/ExpenseItem.js 
    /components/Expenses/ExpenseItem.css
    /components/Expenses/ExpenseFilter.js 
    /components/Expenses/ExpenseFilter.css
    /components/NewExpense/ExpenseForm.css
    /components/NewExpense/ExpenseForm.js
    /components/NewExpense/NewExpense.css
   /components/NewExpense/NewExpense.js (will display ExpenseForm once we create AddExpense and Cancel Button)
   /UI/Card.css
    /UI/Card.js
 ExpenseDate and ExpenseItem will be for displaying the data,
 ExpenseData-visual component-day,month,year
 ExpenseItem will be used to display the Expense-so it will have expense title, and price, 
 but it will manage the date part using ExpenseDate component

 -->